# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Custom
coding-style-reports.log

# Ignore problematic directories and files
_MACOSX/
_MACOSX/itziar/
_MACOSX/itziar/include/
_MACOSX/itziar/include/_oop.h
_MACOSX/itziar/sources/
_MACOSX/itziar/sources/_main.c
_MACOSX/itziar/sources/_oop.c
cuddle/
cuddle/cuddle

# macOS specific
.DS_Store